<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
    <br>
    <h3>Welcome</h3>
    <p>You requested a password reset.</p>
    <p>Please click the link below to reset your password.</p>
    </br>
    <a href="{{resetLink}}">Reset Password</a>
    </br>
    </br>
    <p>You have <span style="font-weight:bold"}} >1 hour</span> to reset your password.</p>
    </br>
    </br>
    <p>If you did not request this email you can safely ignore it.</p>
</body>
</html>